---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
const posts = await getCollection('curiosities');
---
<h1>My posts</h1>
<ul>
  {posts.map((post: CollectionEntry<'curiosities'>) => (
    <li><a href={`/curiosities/${post.id}`}>{post.data.title}</a></li>
  ))}
</ul> 